.leftbg{
    background: linear-gradient(to bottom, #CCE4FF, #4644c4);
    float: left;
    width: 100%;
    height: 655px;

}
/* .rightbg{
    background-color: #201F6D;
    float: right;
    width: 50%;
    height: 655px;
} */
.container{
    height: 75%;
    width: 80%;
    background-color: white;
    position: absolute;
    top: 12%;
    left: 10%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px ;
}
.left{
    background-color: #fff;
    float: left;
    width: 50%;
    height: 100%;
    border-radius: 25px 0 0 25px;
}
.right{
    background-color: #E6F2FF;
    float: left;
    width: 50%;
    height: 100%;
    border-radius: 0 25px 25px 0;
}