#tabs {
    max-width: 100%;
    overflow: hidden;
    align-content: center;
  }
  
#tabs menu {
    margin-left: 20%;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    align-content: center;
  }
  
  #tabs button {
    font: Tahoma !important;
    font-size: 80 ;
    font-weight: 300 !important;
    background-color: #CCE4FF;
    border: none;
    border-bottom-color: #201F6D;
    color: #201F6D;
    border-radius: 4px 4px 0 0;
    padding: 0.75rem 3rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  
  #tabs button:hover,
  #tabs button.active {
    background-color: #201F6D;
    color: #fff;
  }
  .input-box input {
    width: 70%;
    height: 40%;
    font: 400 !important;
    background: transparent;
    border-radius: 10px;
    font-size: 16px;
    outline:#201F6D;
    border: none;
    color: rgb(112, 107, 107);
    padding: 10px 10px 10px 10px;
    display: list-item;
    margin-bottom: 3%;
  }
  .input-box input::placeholder {
    color: rgb(112, 107, 107);
    text-align:start;
  }
  .userlogin{
    padding-left: 30% !important;
    padding-right: 30% !important;
    position: relative !important;
    right:60px !important;
    background-color: #201F6D !important;
    color: #fff !important;
    border-radius: 10px !important;
  }
